In [5]:
import pandas as pd
df = pd.read_csv("stock_data.csv")
df

  ticker            eps  revenue price         people
0    WMT           4.61      484    65           n.a.
1   MSFT             -1       85    64     bill gates
2   RIL   not available       50  1023  mukesh ambani
3   TATA            5.6       -1  n.a.     ratan tata